---
import "../styles/global.css";
import Footer from "@/components/Footer/Footer.astro";
import MainNavBar from "@/components/MainNavBar/MainNavBar";
import Sidebar from "@/components/Sidebar";
import { ViewTransitions } from "astro:transitions";
interface Props {
  pageTitle: string;
}
const { pageTitle } = Astro.props;
---

<html lang="zh-hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>♾️</text></svg>">
    <meta name="generator" content={Astro.generator} />
    <title> 智慧學院 | {pageTitle}</title>
    <ViewTransitions />
  </head>
  <body>
    <MainNavBar client:only="react" />
    <Sidebar client:only="react" />
    <main id="main" class="max-container pt-[65px]">
      <slot />
    </main>
    <Footer />
  </body>
</html>
